<a class="btn btn-light" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample">
    <i class="bi bi-list"></i>
</a>
    
<div class="offcanvas offcanvas-start w-20" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="color: blue;">SOMCH</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img class="img-fluid rounded mx-auto d-block" src="somc-logo.png" alt="..." width="150px" height="150px">
        <div class="dropdown mt-3">
            <button class="btn btn-light w-100 mb-3" type="button">
                <i class="bi bi-house-door"></i> Dashboard
            </button>
            <button class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                <i class="bi bi-border-all"></i> Registration
            </button>
            <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="#">Patient Registration</a></li>
                <li><a class="dropdown-item" href="#">Registered Patient List</a></li>
                <li><a class="dropdown-item" href="#">Privileged Request Patient List</a></li>
            </ul>
        </div>
    </div>
</div>