@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

* {
    font-family: 'Roboto', sans-serif;
}

.body {
    margin: 0;
}

.login-cover-image {
    height: 65vh;
}

.login-forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80vh;
}

.login-title {
    font-weight: 900;
    font-size: 2.5em;
}

.credit-titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.institute-title {
    font-size: 2em;
    font-weight: bold;
}

.powered-by-text {
    font-size: 20px;
    margin-top: 20px;
}

.powered-by-logos {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-box {
    background: #deeef2;
    width: 50%;
}

.navbar-title {
    font-weight: bold;
    color: #488ef1;
    margin-left: 2em;
}

.custom-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1, 1;
    flex-grow: 1, 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 2em;
}

.date {
    background: #e6e3fd;
    padding: 5px 8px 5px 8px;
    padding-left: 8px;
    border-radius: 0.5rem;
}

.mujib-100 > img {
    height: 50px;
}

.notification {
    margin-right: 2em;
    font-size: large;
}

.page-title {
    padding: 15px 10px 15px 10px;
    font-weight: 600;
    color: white;
    background: #6e7076;
    border-radius: 0.2em;
    margin: 1em 0em;
}

.registration-body {
    background: #f2efef;
}

.information-card {
    background: #FFFFFF;
    padding: 1em;
    margin: 0px 5px;
    border-radius: 3px;
}

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.information-title {
    padding: 0.5em 0em;
}

.information-title span {
    font-weight: 900;
    font-size: 1.5em;
    color: #333;
}

.info-label {
    font-weight: bold;
    color: #333;
}

.required::after {
    content: " *";
    color: red;
}

.check {
    background: #ebb9b9;
}

.btn {
    padding: 1em 2em;
    margin: 0.5em;
}

.upload-photo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 2, 1;
    flex-grow: 2, 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.preview-photo {
    border-radius: 0.3em;
    width: 200px;
}

.photo-options {
    margin: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.icon-text {
    font-weight: normal;
    font-size: 1.2em;
}
/*# sourceMappingURL=main.css.map */
